# ==================================
# 1. Python & Virtual Environment
# ==================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
myenv/
.env
ch_data/
ch_logs/
all_code.txt
dbt_docs/
minio_data/

# ==================================
# 2. Airflow & Logs
# ==================================
# Folder logs ở root chứa log chạy của Airflow
logs/
*.log

# File database và config local của Airflow (nếu có sinh ra)
airflow.db
airflow.cfg
webserver_config.py

# ==================================
# 3. Data & Temporary Files
# ==================================
# Bỏ qua các file dữ liệu local để tránh nặng repo
*.parquet
*.csv
data/
temp/

# ==================================
# 4. dbt Artifacts (File sinh ra khi chạy)
# ==================================
# Các thư mục sinh ra khi chạy dbt deps / dbt run
dags/repos/dbt_project/dbt_packages/
dags/repos/dbt_project/target/
dags/repos/dbt_project/logs/
dags/repos/dbt_project/.user.yml

# Các file artifacts nằm ngay root dbt_project (manifest, catalog...)
dags/repos/dbt_project/*.json
dags/repos/dbt_project/*.html
dags/repos/dbt_project/*.gpickle
dags/repos/dbt_project/*.msgpack

# ==================================
# 5. IDE & OS System Files
# ==================================
.DS_Store
.vscode/
.idea/

# ==================================
# 6. Secrets & Credentials (QUAN TRỌNG)
# ==================================
# Folder chứa credential AWS
.aws/
credentials

# File config chứa thông tin nhạy cảm
# configs/config.json