# --- Airflow Providers ---
apache-airflow-providers-amazon
apache-airflow-providers-docker  # <-- Bắt buộc để chạy dbt container

# --- Data Processing ---
pandas>=2.1.4
awswrangler>=3.5.0  # <-- "Ông trùm", tự kéo theo numpy, pyarrow, boto3, botocore...

# --- API & Async ---
aiohttp>=3.9.1
requests>=2.31.0

# --- Utils ---
slack_sdk