# --- Airflow Providers ---
apache-airflow-providers-amazon
apache-airflow-providers-docker  # <-- Bắt buộc để chạy dbt container

# --- Data Processing ---
pandas>=2.1.4

# --- API & Async ---
aiohttp>=3.9.1
requests>=2.31.0

# --- Utils ---
slack_sdk

snowflake-connector-python
dbt-core==1.7.1
dbt-snowflake==1.7.1